####################
# 🔧 Java & Gradle
####################
*.class
*.jar
*.war
*.iml
*.log

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

####################
# 💡 Spring Boot
####################
*.db
*.h2.db
*.mv.db
application-local.properties
application-local.yml
.env

logs/
logs/*.log

####################
# 💻 IntelliJ
####################
.idea/
*.iws
*.ipr
*.iml
out/

####################
# 💻 VSCode
####################
.vscode/
!.vscode/extensions.json

####################
# 💻 Node.js / React
####################
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
# Vite 캐시
.vite/


####################
# 🖥️ OS / Editor 환경
####################
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

####################
# ✅ 테스트 결과 (공통)
####################
test-output/
coverage/

####################
# 🔐 민감한 설정 분리
####################
**/application-local.yml
